[package]
name = "kernel"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "kernel"
path = "src/main.rs"

[dependencies]
shared = { path = "../shared" }
linked_list_allocator = "0.10"

[dev-dependencies]

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
lto = true
